#titulo {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #eca4e4;
  color: rgba(190, 25, 25, 0.897);
  text-align: center;
}
#Bloque2 {
  background-color: #96f8b7;
  /* padding: 25px;
  margin: 75px; */
}
#Parrafo {
  background-color: #f6830f;
  font-family: "Courier New", Courier, monospace;
  height: ;
  width: ;
  background-color: #c56183;
  text-align: center;
}
#Ingredientes_titulo {
  height: 260px;
  width: 350px;
  background-color: #fadcaa;
  font-size: 20px;
  /* text-align: center; */
}

.polloimagen {
  padding: 25px;
  margin: 75px;
  border: 2px solid white;
  float: left;
  width: 250px;
  /* La propiedad float nos permite colocar la imagen a la izquierda o a la derecha del texto. las propiedades padding y margin nos permiten controlar los espacios en blanco alrededor de la imagen, y la propiedad border nos permite poner un borde o marco alrededor de la imagen. */
}

#Pasos {
  height: ;
  width: ;
  background-color: #fadcaa;
  font-size: 20px;

  /* text-align: center; */
}

.boton {
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #2e518b; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: none; /*capitalización texto*/
  text-align: center;
  font-family: "Helvetica", sans-serif; /*tipografía texto*/
  border-radius: 20px; /*bordes redondos*/
  position: absolute;
  top: 85%;
  float: left;
  height: 20px;
  width: 125px;
}

.boton2 {
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #2e518b; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: none; /*capitalización texto*/
  text-align: center;
  font-family: "Helvetica", sans-serif; /*tipografía texto*/
  border-radius: 20px; /*bordes redondos*/
  position: absolute;
  top: 90%;
  float: none;
  height: 20px;
  width: 125px;
}

.boton3 {
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #2e518b; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: none; /*capitalización texto*/
  text-align: center;
  font-family: "Helvetica", sans-serif; /*tipografía texto*/
  border-radius: 20px; /*bordes redondos*/
  position: absolute;
  top: 95%;
  float: right;
  height: 20px;
  width: 125px;
}

.flex-container {
  display: flex;
  background-color: #14df14ef;
}

.flex-container > a {
  background-color: #68c3ff;
  margin: 5px;
  padding: 20px;
  font-size: 20px;
  flex-grow: 8;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  text-shadow: 2px 2px 5px blue;
  width: 50px;
}
/* .matias {
  background-color: #328832;
  margin: 5px;
  padding: 20px;
  font-size: 20px;
  flex-grow: 8;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  text-shadow: 2px 2px 5px blue;
  width: 50px;
  background-color: brown;
  padding: 100px;
} */

.mati {
  background-color: #86fbff;
  margin-top: ;
  /* width: 100%; */
}

/* h1 {
  font-style: italic;
  text-align: center;
} */

#margen {
  margin: 0px 30px;
  margin: %;
}
